@{
    ViewBag.Title = "Add User";
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="text-muted">Add New User</h2>
        </div>
        <div class="col-auto">
            <a href="/HotelUser/UserList" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i> Back To Users</a>
        </div>
    </div>

    <form action="/HotelUser/CreateUser" method="POST">
        <div class="row">
            <div class="col mb-3">
                <label for="Username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="Username" name="Username" required>
            </div>
            <div class="col mb-3">
                <label for="Email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="Email" name="Email" required>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="Password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="Password" name="Password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add User</button>
    </form>
</div>
